<!-- TEMPLATE BASE-->
{% extends 'base_userscontrol.html' %}

<!-- TITULO DE LA PAGINA-->
{% block titulo %} No Activo{% endblock %}

<!-- DESCRIPCION DE LA PAGINA-->
{% block description %}
No Activo
{% endblock description %}

<!-- EL ENCABEZADO -->
{% block encabezado %} 
<hgroup> 
<h2>Usuaurio no activo</h2>
</hgroup>
{% endblock %}


<!-- CONTENIDO-->
{% block contenido %}

	<article  class="grid1">
		<p>Contactarse con el administrador, para resolver el problema.</p>
	</article>

{% endblock %}