<!-- TEMPLATE BASE-->
{% extends 'base.html' %}

<!-- TITULO DE LA PAGINA-->
{% block titulo %} Proyecto Maestro {% endblock %}


<!-- DESCRIPCCION DE LA PAGINA -->
{% block description %}
	Aqui la descripción correpondiente al link.
{% endblock %}

<!-- EL ENCABEZADO -->
{% block encabezado %} 
	<hgroup> 
		<h2>Bienvenidos</h2>
		<h3>Estructura básica para proyecto web.</h3>
	</hgroup>
{% endblock %}

<!-- CONTENIDO-->
{% block contenido %}
	<section>
		<article>
			<h2>Titulo del contenido</h2>
			<p>Parrafo del contenido, mParrafo del contenido, Parrafo del contenido, Parrafo del contenido, Parrafo del contenido, Parrafo del contenido, Parrafo del contenido, Parrafo del contenido, Parrafo del contenido, Parrafo del contenido.</p>
		</article>
	</section>
{% endblock %}


{% block footer %}
	<p>Pie de página</p>
{% endblock %}
